@font-face {
    font-family: dimitri;
    src: url(DIMIS___.TTF);
}

@font-face {
    font-family: ancient;
    src: url(Ancient_Medium.ttf);
}

@font-face {
    font-family: dimitri-light;
    src: url(DIMITRI_.TTF);
}

@media only screen and (min-width: 1500px) {
    #kanatop, #kanabottom, #gif1, #gif2 {
        display: block !important;
    }
}


body {
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: dimitri, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

#backdrop {
    position: absolute;
    top: 0;
    width: 2000px;
}

#kanatop, #kanabottom {
    font-family: sans-serif;
    position: absolute;
    display: none;
}

#kanatop {
    top: 0;
    left: 0;
    font-size: 8rem;
    font-weight: bolder;
    line-height: 7rem;
}

#kanabottom {
    bottom: 0;
    left: 0;
    font-size: 3rem;
}

#gif1 {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#gif2 {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}


#container {
    width: 60vw;
    max-width: 648px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    justify-content: space-between;
}

#container>#headerleft {
    position: absolute;
    transform-origin: top left;
    left: -8rem;
    bottom: -6rem;
    transform: rotate(-90deg);
    font-size: 6rem;
    margin: 0;
    display: inline;
    white-space: nowrap;
    
}

#container>#headerright {
    position: absolute;
    transform-origin: top right;
    right: -8rem;
    bottom: 6rem;
    transform: rotate(90deg);
    font-size: 6rem;
    margin: 0;
    white-space: nowrap;
}

#topinfo {
    display: flex;
    flex-grow: 1;
    position: relative;
    width: 100%;
    
}

#topinfo>#setname {
    font-family: dimitri-light, sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    font-size: 6rem;
    margin: 0;
    line-height: 6rem;
    white-space: nowrap;
}

#topinfo>#cost {
    position: absolute;
    right: -8rem;
    top: 2rem;
    background-color: transparent;
    font-size: 13rem;
    font-family: ancient, sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    height: 13rem;
    width: 13rem;
    line-height: 13rem;
    text-align: center;
    border-radius: 100%;
    z-index: 1;
    color: white;
    -webkit-text-stroke: 5px black;
}

#topinfo>#biggem {
    position: absolute;
    right: -8rem;
    top: 1rem;
    height: 280px;
}

#imgbox {
    height: 400px;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    flex-grow: 0.2;
}

#imgbox>#cardbox {
    position: relative;
}

#imgbox>#cardbox>img:not(.cardborder) {
    position: absolute;
    bottom: -20px;
    width: 100%;
    filter: drop-shadow(0px -10px 5px black) opacity(1);
    max-width: 215px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s;
}

#imgbox>#cardbox:hover {
    z-index: 3;
}

#imgbox>#cardbox>img.blankgem {
    filter: none;
    pointer-events: none;
    z-index: 2;
}

#imgbox>#cardbox>img.cardborder {
    position: absolute;
    bottom: -30px;
    width: 110%;;
    max-width: 240px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    filter: brightness(0) opacity(0);
    transition: all 0.6s;
}

#bottominfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: end;
    font-family: ancient, sans-serif; 
}

#btnbox {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    justify-content: center;
}

#rightbox, #wrongbox {
    font-size: 6rem;
    position: absolute;
    perspective-origin: 50% 50%;
    white-space: nowrap;
    transition: all 1s;
    pointer-events: none;
}

#rightbox {
    transform: translate(-60%, 0);
    perspective: 260px;
}

#wrongbox {
    right: 0;
    transform: translate(60%, 0);
    perspective: 260px;
}

#right {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateY(52deg);
    background-color: turquoise;
    padding: 15px;
    border: solid 10px black;
    transition: all 10s;
    pointer-events: all;
    background: rgb(23,138,129);
    background: linear-gradient(213deg, rgba(23,138,129,1) 0%, rgba(213,255,252,1) 100%);
}

#wrong {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateY(-52deg);
    background-color: #fff;
    padding: 15px;
    border: solid 10px black;
    transition: all 10s;
    pointer-events: all;
    background: rgb(23,138,129);
    background: linear-gradient(213deg, rgba(23,138,129,1) 0%, rgba(213,255,252,1) 100%);
}

#right:hover {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateY(4000deg);
}

#wrong:hover {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateY(-4000deg);
}

#btnbox>#resetbox, #btnbox>#soundbox {
    display: flex;
    justify-content: center;
    perspective: 564px;
    perspective-origin: 50% 50%;
}

#btnbox button {
    box-sizing: border-box;
    font-size: 3rem;
    font-family: dimitri-light, sans-serif;
    border: solid 10px black;
    height: 150px;
    z-index: 0;
    color: white;
    transition: all 0.4s;
}

#btnbox button:hover {
    filter: brightness(200%);
}

#btnbox button.resetclicked {
    animation: resetclicked 0.6s;
}

#btnbox button.soundclicked {
    animation: soundclicked 0.6s;
}

@keyframes resetclicked{
    0% {transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(50deg);}
    50% {transform: scaleX(0.93) scaleY(0.5) scaleZ(1) rotateX(50deg) translateY(52px);}
    100% {transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(50deg);}
}

@keyframes soundclicked{
    0% {transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(-50deg);}
    50% {transform: scaleX(0.93) scaleY(0.5) scaleZ(1) rotateX(-50deg) translateY(-52px);}
    100% {transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(-50deg);}
}

button#resetbtn {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(50deg);
    margin-bottom: -22px;
    background-image: url(images/bearbutton.png);
    background-position: center;
    background-size: cover;
    box-shadow: inset 2px 45px 30px -20px #000000;
}

button#soundbtn {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(-50deg);
    margin-top: -22px;
    background-image: url(images/lionbutton.png);
    background-position: center;
    background-size: cover;
    box-shadow: inset 2px -50px 30px -20px #000000;
}